.DS_Store
.env
node_modules

apollo-client/node_modules
apollo-client/.pnp
apollo-client.pnp.js
apollo-client/coverage
apollo-client/build
apollo-client/.DS_Store
apollo-client/.env.local
apollo-client/.env.development.local
apollo-client/.env.test.local
apollo-client/.env.production.local
apollo-client/npm-debug.log*
apollo-client/yarn-debug.log*
apollo-client/yarn-error.log*

relay-client/node_modules
relay-client/.pnp
relay-client.pnp.js
relay-client/coverage
relay-client/build
relay-client/.DS_Store
relay-client/.env.local
relay-client/.env.development.local
relay-client/.env.test.local
relay-client/.env.production.local
relay-client/npm-debug.log*
relay-client/yarn-debug.log*
relay-client/yarn-error.log*

server/node_modules
server/.pnp
server.pnp.js
server/coverage
server/build
server/.DS_Store
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*